@page "/linq"

<PageTitle>Development Utilities - Generate Linq</PageTitle>

<div class="d-flex justify-content-between">
    <h1 class="m-0 p-0">Development Utilities - Generate Linq</h1>
    <div>
        <button class="btn btn-outline-success" @onclick="@GenerateLinqCode">Generate</button>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <label for="inputarea" class="form-label">Input</label>
        <textarea @bind="@InputValue" id="inputarea" name="inputarea" style="resize: none; min-height: 75vh;" class="w-100 h-75 form-control"></textarea>
    </div>
    <div class="col-sm-6">
        <label for="outputarea" class="form-label">Output</label>
        <textarea readonly @bind="@OutputValue" id="outputarea" name="outputarea" style="resize: none; min-height: 75vh;" class="w-100 form-control"></textarea>
    </div>
</div>

@code{
    private string InputValue { get; set; } = String.Empty;
    private string OutputValue { get; set; } = String.Empty;

    private void GenerateLinqCode(){
        OutputValue = String.Empty;
        var result = EntityParserHelper.ParseEntityInput(InputValue);
        if(result.Any()){
            foreach(var entry in result){
                OutputValue += entry.Item2 + " = x." + entry.Item2 + "," + System.Environment.NewLine;
            }
        }
    }

}
